@import 'variables';
.content-postdetail {
    .pr-4 {
        padding-right: 4rem;
    }
    .border-1{
        border: 1px solid #A7A7A7;
    }
    &-body {
        font-size: 1.7rem;
        margin-bottom: 4.6rem;
        span {
            font-weight: bold;
        }
        &__heading {
            background: #3882B1;
            color: $white;
            font-size: 1.8rem;
            height: 3.9rem;
            line-height: 3.9rem;
            text-align: center;
        }
        &__item {
            background: #EAEAEA;
            margin: 0;
            border-bottom: 1px solid #BCBCBC;
            &--image {
                margin-top: 2.2rem;
                margin-left: 0.5rem;
                padding-bottom: 2.2rem;
            }
            &--title {
                font-size: 1.3rem;
                margin-top: 2.3rem;
            }
        }
        &__item:last-child { 
            border-bottom: none;
        }
    }
    &-related {
        margin-top: 5.2rem;
        &__heading {
            font-size: 1.8rem;
            font-weight: bold;
            margin-bottom: 4.7rem;
        }
        &__item {
            position: relative;
            width: 25rem;
            height: 36rem;
            border: 1px solid #9f9f9f;
            border-radius: 1rem;
            margin: 0 auto;
            &--image {
                border-radius: 10px 10px 0px 0px;
            }
            &--date {
                font-size: 1.4rem;
                font-family: Inter;
                background: #42baffbd;
                position: absolute;
                bottom: 42.5%;
                left: 0;
                right: 0;
                height: 2.6rem;
                line-height: 2.6rem;
                text-align: right;
                padding-right: 1.4rem;
            }
            &--heading {
                font-size: 1.4rem;
                font-family: Inter;
                font-weight: bold;
                margin: 1rem;
            }
            &--text {
                font-size: 1.3rem;
                font-family: Inter;
                margin: 1rem;
                overflow: hidden;
                display: block;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
            }
        }
    }
}