@import 'variables';

//Mobile
@include responsive_mobile {
    .header {
        &-outside {
            position: relative;
            justify-content: space-between;
            &-logo {
                &__image {
                    float: left;
                    margin-left: 1.2rem;
                }
            }
            &-nav {
                position: absolute;
                top: 0;
                left: 0;
                background-color: #383838;
                width: 34rem;
                min-height: 170rem;
                animation: shownav ease 0.6s;
                z-index: 1;
                .mobile-logo {
                    display: block;
                    width: 21rem;
                    height: 2.637rem;
                    margin: 1.6rem 0 2.8rem 1.8rem;
                }
                &__list {
                    display: block;
                    &--item {
                        padding-left: 1.9rem;
                        padding-bottom: 1rem;
                        margin-right: 0;
                        margin-top: 1rem;
                        border-bottom: 1px solid $white;
                        &-link {
                            color:  $white;
                        }
                    }   
                    &--item:last-child { 
                        border: none;
                    }
                }
            }
            &-nav.show { 
                display: none;
            }
        }
        .navbar-mobile {
            display: block;
            font-size: 2.5rem;
            width: 8%;
            padding: 0;
            border: none;
            background: transparent;
            color: $black;
            margin-right: 1rem;
            z-index: 1;
        }
        .mobile-menu-overlay {
            position: absolute;
            height: 170rem;
            inset: 0;
            display: block;
            background: rgba(0, 0, 0, 0.5);
        }
        .mobile-menu-overlay.show {
            display: none;
        }
    }
    @keyframes shownav {
        from {
            opacity: 0;
            transform: translateX(-65%);
        }
        to {
            opacity: 1;
            transform: 0;
        }
    }
    .home-sidebar {
        &-image {
            height: 100%;
        }
        &-control {
            &__prev {
                display: none;
            }
            &__next { 
                display: none;
            }
        }
    }
}