@import 'variables';
@include responsive_mobile {
    .content-home { 
        .slick-dots {
            top: -2rem;
        }
        .pc-slider {
            display: none;
        }
        .mobile-slider {
            display: block;
        }
        .home-service{
            &-outside { 
                width: 100%;
                height: 100%;
                margin: 6.1rem auto 2rem; 
                &__heading { 
                    font-size:3.8rem;
                }
                &__heading::after {
                    width: 15rem;
                    height: 0.3rem;
                    left: 15.8rem;
                    top: 4rem;
                }
                &__text { 
                    margin-top: 5.5rem;
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
            }
            &-list {
                &__image {
                    width: 47.7rem;
                    height: 49.4rem;
                    top: -16rem;
                    z-index: -1;
                }
                &__item {
                    height: 24rem;
                    z-index: 1;
                    &--number { 
                        font-size: 7rem;
                        position: relative;
                        top: 4rem;
                        left: 3rem;
                    }
                    &--heading{ 
                        font-size: 1.8rem;
                        position: relative;
                        top: 5rem;
                        left: 3rem;
                    }
                    &--text { 
                        width: 90%;
                        height: 6.8rem;
                        position: relative;
                        top: 5rem;
                        left: 3rem;
                    }
                    &--image { 
                        width: 11.6rem;
                        height: 10.9rem;
                        top: 5.8rem;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
        .home-store {
            .hidden {
                display: none;
            }
            background-color: $white;
            height: 161rem;
            &-heading {
                font-size: 3rem;
                padding-top: 12rem;
            }
            &-heading::after {
                top: 16rem;
                width: 15rem;
            }
            &-text {
                font-size: 1.5rem;
                width: 80%;
                margin: 4.6rem auto 0;
            }
            &-list {
                justify-content: flex-start;
                flex-wrap: wrap;
                margin-top: 3.8rem;
                &__item {
                    margin-bottom: 1.3rem;
                    &--link {
                        font-size: 1.4rem;
                        line-height: 2.2em;
                    }
                }
            }
            &-images {
                display: none;
                &__list {
                    margin-top: 4.2rem;
                    padding: 0 1.5rem;
                }
            }
        }
        .home-reason {
            .slick-dots {
                top: 1rem;
            }
            height: 54.5rem;
            &-heading {
                font-size: 3rem;
                padding-top: 7rem;
                width: 80%;
                margin: 0 auto;
                line-height: 1.3em;
            }
            &-heading::after {
                top: 16rem;
                width: 16.8rem;
                height: 0.3rem;
                background-color: $Bgcolor-after;
            }
            &-text {
                font-size: 1.5rem;
                width: 80%;
                margin: 4rem auto 5rem;
            }
            &-outside {
                &__list {
                    justify-content: center;
                    &--item {
                        height: 21.7rem;
                        margin: 0 1.5rem;
                        &-inside{
                            top: -4rem;
                            height: 97.5%;
                            border-radius: 1rem; 
                            &--image {
                                margin: 4.3rem auto 2.1rem;
                                padding-top: 2rem;
                            }
                            &--heading {
                                font-size: 1.7rem;
                                margin-top: 3rem;
                            }
                            &--text {
                                font-size: 1.3rem;
                                width: 90%;
                                margin: 0 auto;
                            }  
                        }
                    }
                    &--item:hover {
                        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
                        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
    }
}
