@import 'variables';
//Mobile
@include responsive_mobile {
    .content-webstore {
        &-heading {
            font-size: 3rem;
            padding-top: 3.3rem;
        }
        &-text {
            margin-top: 2.6rem;
        }
        &-list {
            margin-top: 3rem;
            &__item {
                margin-right: 1rem;
                margin-top: 1.5rem;
                &--link {
                    padding: 0 1.3rem;
                    font-size: 1.4rem;
                }
            }
        }
        &-outside {
            display: none;
            &__list {
                margin-top: 8rem;
                &--item {
                    margin-bottom: 2.5rem;
                    padding: 0 1.5rem;
                }
            }
        }
    }
}
//Mobile Low
@include responsive_mobilelow {
    
}
//Tablet
@include responsive_tablet {
    .content-webstore {
        &-heading {
            padding-top: 3.3rem;
        }
        &-list {
            &__item {
                margin-right: 1.5rem;
                margin-left: 1.5rem;
            }
        }
        &-outside {
            &__list {
                .over-show {
                    left: 1.4rem;
                    right: 1.5rem;
                    &-title {
                        font-size: 2.8rem;
                        top: 60%;
                    }
                    &-text {
                        font-size: 2.4rem;
                        top: 62%;
                    }
                    &-btn {
                        top: 67%;
                        &__demo {
                            font-size: 1.8rem;
                            padding: 0.8rem 0.8rem;
                        }
                        &__detail {
                            font-size: 1.8rem;
                            padding: 0.8rem 0.8rem;
                            margin-left: 1.8rem;
                        }
                    }
                }
            }
        }
    }
}
//PC low
@include responsive_pclow {
    .content-webstore {
        &-outside {
            &__list {
                .over-show {
                    left: 1.4rem;
                    right: 1.5rem;
                    &-title {
                        font-size: 2.8rem;
                        top: 60%;
                    }
                    &-text {
                        font-size: 2.4rem;
                        top: 62%;
                    }
                    &-btn {
                        top: 65.5%;
                        &__demo {
                            font-size: 1.8rem;
                            padding: 0.8rem 0.8rem;
                        }
                        &__detail {
                            font-size: 1.8rem;
                            padding: 0.8rem 0.8rem;
                            margin-left: 1.8rem;
                        }
                    }
                }
            }
        }
    }
}
//PC medium
@include responsive_pcmedium { 

}