@import 'variables';
.service-heading {
    line-height: 1.4em;
    top: 26% !important;
}
.content-service{
    .mobile-service {
        display: none;
    }
    .mt-9 {
        margin-top: 9rem;
    }
    &-outside {
        margin-top: 16.5rem;
        &__info {
            &--heading {
                font-style: normal;
                font-weight: 700;
                font-size: 1.8rem;
                line-height: 2.6rem;
                color: $color-headService;
            }
            &--text{
                font-size: 1.7rem;
                line-height: 2.3rem;
                color: $black;
            }
            &--list {
                &-item{
                    font-size: 1.7rem;
                    line-height: 2.3rem;
                    color: $color-orange;
                }
            }
            &--btn{       
                background: $color-main;
                border-radius: 1rem;
                width: 18.9rem;
                height: 3.2rem;
                &-link{
                    font-size: 1.8rem;
                    line-height: 2.5rem;
                    color: $white;
                    display: block;
                    text-align: center;
                }
            }
        }
    }

} 