@import 'variables';
.service-heading {
    line-height: 1.4em;
    top: 26% !important;
}
.content-service{
    .mt-9 {
        margin-top: 9rem;
    }
    &-outside {
        margin-top: 16.5rem;
        &__info {
            &--heading {
                font-style: normal;
                font-weight: 700;
                font-size: 1.8rem;
                line-height: 2.6rem;
                color: #3579A5;
            }
            &--text{
                font-size: 1.7rem;
                line-height: 2.3rem;
                color: $black;
            }
            &--list {
                &-item{
                    font-size: 1.7rem;
                    line-height: 2.3rem;
                    color: #F26C2F;
                }
            }
            &--btn{       
                background: $color-main;
                border-radius: 10px;
                width: 189px;
                height: 32px;
                &-link{
                    font-size: 18px;
                    line-height: 25px;
                    color: $white;
                    display: block;
                    text-align: center;
                }
            }
        }
    }

} 