@import 'variables';
.content-webstore {
    &-heading {
        position: relative;
        font-size: 3.8rem;
        font-weight: bold;
        text-align: center;
        padding-top: 10.3rem;
    }
    &-heading::after {
        content: "";
        position: absolute;
        top: 15rem;
        left: 50%;
        transform: translateX(-50%);
        width: 16.8rem;
        height: 0.3rem;
        background-color: #EC2028;
    }
    &-text {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 4.6rem;
        color: #848484;
    }
    &-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 3rem;
        &__item {
            margin-right: 4rem;
            margin-top: 2rem;
            border-radius: 2.5rem;
            border: 1px solid #9F9F9F;

            &--link {
                display: block;
                padding: 0 1.5rem;
                font-size: 1.5rem;
                font-weight: bold;
                height: 3.1rem;
                line-height: 1.9em;
                min-width: 7.5rem;
                cursor: pointer;
                text-align: center;
            }
        }
        &__item.active {
                background-color: #3882B1;
                font-weight: bold;
                a {
                    color: $white;
                }
        }
    }
    &-outside {
        display: none;
        &__list {
            margin-top: 8rem;
            &--item {
                position: relative;
                margin-bottom: 2.5rem;
                padding: 0 1.5rem;
            }
            .over-show {
                display: none;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 1.4rem;
                right: 1.5rem;
                background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #3C576F 100%);
                animation: show 0.8s linear;
                &-title {
                    font-size: 1.8rem;
                    font-family: Roboto-Regular;
                    color: $white;
                    text-align: center;
                    position: relative;
                    top: 60%;
                }
                &-text {
                    font-size: 1.6rem;
                    font-family: Roboto-Regular;
                    color: $white;
                    text-align: center;
                    position: relative;
                    top: 62%;
                }
                &-btn {
                    display: flex;
                    justify-content: center;
                    position: relative;
                    top: 67%;
                    &__demo {
                        font-size: 1.4rem;
                        font-family: Roboto-Regular;
                        color: $black;
                        background-color: #FFB607;
                        border-radius: 0.5rem;
                        border: none;
                        padding: 0.2rem 0.8rem;
                    }
                    &__detail {
                        font-size: 1.4rem;
                        font-family: Roboto-Regular;
                        color: $white;
                        background-color: #43BAFF;
                        border-radius: 0.5rem;
                        border: none;
                        padding: 0.2rem 0.8rem;
                        margin-left: 1.8rem;
                    }
                }
            }
            &--item:hover {
                .over-show {
                    display: block;
                    cursor: pointer;
                }
            }
            @keyframes show {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        }
    }
    &-outside.active { 
        display: block;
    }
}