@font-face {
  font-family: UTM-Avo;
  src: url("../font/UTM-Avo.ttf");
}
@font-face {
  font-family: UTM_AvoBold;
  src: url("../font/AvoBold.ttf");
}
@font-face {
  font-family: UTM_AvoBold_Italic;
  src: url("../font/AvoBold_Italic.ttf");
}
@font-face {
  font-family: UTM_Avo-Italic;
  src: url("../font/AvoItalic.ttf");
}
@font-face {
  font-family: Inter;
  src: url("../font/Inter.ttf");
}
@font-face {
  font-family: Inter-Regular;
  src: url("../font/Inter-Regular.otf");
}
@font-face {
  font-family: Inter-SemiBold;
  src: url("../font/Inter-SemiBold.otf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("../font/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-Bold;
  src: url("../font/Roboto-Bold.ttf");
}
.mobile-logo,
.navbar-mobile,
.mobile-menu-overlay {
  display: none;
}

.header {
  border-bottom: 0.3rem solid #43baff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #fff;
}
.header-outside {
  height: 7.7rem;
  align-items: center;
}
.header-outside-logo__image {
  width: 21rem;
  height: 2.6367rem;
  float: right;
  margin-right: 1.2rem;
}
.header-outside-nav__list {
  display: flex;
  justify-content: center;
}
.header-outside-nav__list--item {
  margin-right: 2.6rem;
}
.header-outside-nav__list--item-link {
  font-size: 1.8rem;
  color: #000;
  letter-spacing: 0;
  height: 2.5rem;
  min-width: 6.4rem;
}

.home-sidebar {
  position: relative;
  background-color: #1f1f1f;
  margin-top: 7.8rem;
}
.home-sidebar-image {
  height: 75.5rem;
  overflow: hidden;
}
.home-sidebar-image img {
  object-fit: cover;
}
.home-sidebar-control {
  position: absolute;
  inset: 0;
}
.home-sidebar-control__prev {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 7.1rem;
  top: 40rem;
  background-color: rgba(66, 66, 66, 0.7098039216);
  border-radius: 50%;
  cursor: pointer;
}
.home-sidebar-control__prev--image {
  width: 1.4rem;
  height: 2.4rem;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  right: -1.2rem;
  border: none;
  background: transparent;
}
.home-sidebar-control__next {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  right: 7rem;
  top: 40rem;
  background-color: rgba(66, 66, 66, 0.7098039216);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}
.home-sidebar-control__next--image {
  width: 1.4rem;
  height: 2.4rem;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  right: -1.5rem;
  border: none;
  background: transparent;
}

.footer-outside {
  width: 100%;
  height: 68.5rem;
  background-color: #1a1a1a;
}
.footer-outside-logo {
  width: 26.6rem;
  height: 3.3rem;
  margin: 0 auto 5.8rem;
  padding-top: 5.4rem;
}
.footer-outside-top {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}
.footer-outside-top__location, .footer-outside-top__tel, .footer-outside-top__email {
  width: 36.3rem;
  height: 13.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 2px solid #fff;
  margin: 0 auto;
  background-color: #fff;
}
.footer-outside-top__location--image, .footer-outside-top__tel--image, .footer-outside-top__email--image {
  margin: 3.2rem auto 1.3rem;
  text-align: center;
}
.footer-outside-top__location--info, .footer-outside-top__tel--info, .footer-outside-top__email--info {
  margin: auto;
  color: #000;
}
.footer-outside-top__location--info-text, .footer-outside-top__tel--info-text, .footer-outside-top__email--info-text {
  height: 2.26rem;
  font-family: Inter-Regularnter;
  text-align: center;
  font-size: 1.7rem;
  letter-spacing: 0;
}
.footer-outside-top__location--image {
  width: 4.4rem;
  height: 4.2rem;
}
.footer-outside-top__email--image {
  font-size: 4.2rem;
}
.footer-outside-top__email--image i {
  color: #000;
}
.footer-outside-bottom__info--heading {
  color: #fff;
  font-size: 2.4rem;
  position: relative;
  margin-top: 4.4rem;
  margin-bottom: 5rem;
}
.footer-outside-bottom__info--heading::after {
  content: "";
  position: absolute;
  left: 0;
  top: 3.4rem;
  background-color: #43baff;
  width: 17rem;
  height: 0.3rem;
}
.footer-outside-bottom__info--text {
  color: #fff;
  width: 36.3rem;
  height: 16.1rem;
  text-align: left;
  font-size: 1.7rem;
}
.footer-outside-bottom__contact--heading {
  color: #fff;
  font-size: 2.4rem;
  position: relative;
  margin-top: 4.4rem;
  margin-bottom: 5rem;
}
.footer-outside-bottom__contact--heading::after {
  content: "";
  position: absolute;
  left: 0;
  top: 3.4rem;
  background-color: #43baff;
  width: 8.8rem;
  height: 0.3rem;
}
.footer-outside-bottom__contact--list-item {
  color: #fff;
  font-size: 1.7rem;
}
.footer-outside-bottom__link--heading {
  color: #fff;
  font-size: 2.4rem;
  position: relative;
  margin-top: 4.4rem;
  margin-bottom: 5rem;
}
.footer-outside-bottom__link--heading::after {
  content: "";
  position: absolute;
  left: 0;
  top: 3.4rem;
  background-color: #43baff;
  width: 10.7rem;
  height: 0.3rem;
}
.footer-outside-bottom__link--social {
  display: flex;
}
.footer-outside-bottom__link--social-item {
  width: 3.3rem;
  height: 3.3rem;
  background-color: #000;
  border: 1px solid #fff;
  margin-right: 2rem;
}
.footer-outside-bottom__link--social-item--link {
  display: block;
  padding: 0.5rem 0.7rem;
}
.footer-outside-bottom__link--social-item:last-child a {
  padding: 0.9rem 0.7rem;
}
.footer-outside-bottom__image {
  height: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.footer-outside-bottom__outside {
  display: flex;
  justify-content: space-between;
}
.footer-outside-bottom__outside--left {
  color: #fff;
  font-size: 1.7rem;
}
.footer-outside-bottom__outside--right {
  color: #fff;
  font-size: 1.7rem;
}

.content-home .mb-64 {
  margin-bottom: 6.4rem;
}
.content-home .mobile-slider {
  display: none;
}
.content-home .home-service-outside {
  width: 80.9rem;
  height: 12.3rem;
  margin: 15.57rem auto 2rem;
}
.content-home .home-service-outside__heading {
  color: #000;
  text-align: center;
  font-size: 3.8rem;
  position: relative;
  font-weight: bold;
}
.content-home .home-service-outside__heading::after {
  content: "";
  width: 15rem;
  height: 0.3rem;
  position: absolute;
  left: 33rem;
  top: 4rem;
  background-color: #EC2028;
}
.content-home .home-service-outside__text {
  color: #848484;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 3.5rem;
}
.content-home .home-service-list {
  position: relative;
}
.content-home .home-service-list__image {
  width: 78.4rem;
  height: 66rem;
  position: absolute;
  right: 0;
  top: -7rem;
  overflow: hidden;
}
.content-home .home-service-list__item {
  height: 24rem;
  z-index: 1;
  position: relative;
}
.content-home .home-service-list__item--number {
  color: #cbcbcb;
  font-family: Inter;
  text-align: left;
  font-size: 6.4rem;
  display: block;
  margin-top: 8.6rem;
  margin-bottom: 3.3rem;
}
.content-home .home-service-list__item--heading {
  color: #43baff;
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
}
.content-home .home-service-list__item--text {
  color: #000;
  width: 363px;
  height: 68.3003921509px;
  text-align: left;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}
.content-home .home-service-list__item--image {
  width: 12.6rem;
  height: 12.9rem;
  position: absolute;
  left: 11.8rem;
  top: 0px;
}
.content-home .home-store {
  background-color: #F5F6F6;
  height: 115.1rem;
}
.content-home .home-store-heading {
  position: relative;
  font-size: 3.8rem;
  font-weight: bold;
  text-align: center;
  padding-top: 10.3rem;
}
.content-home .home-store-heading::after {
  content: "";
  position: absolute;
  top: 15rem;
  left: 50%;
  transform: translateX(-50%);
  width: 16.8rem;
  height: 0.3rem;
  background-color: #EC2028;
}
.content-home .home-store-text {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 4.6rem;
  color: #848484;
}
.content-home .home-store-list {
  display: flex;
  justify-content: center;
  margin-top: 4.2rem;
}
.content-home .home-store-list__item {
  margin-left: 1.5rem;
  background-color: #f2f2f2;
  border-radius: 1rem;
  border: 1px solid #000;
}
.content-home .home-store-list__item--link {
  display: block;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  height: 3.1rem;
  line-height: 1.9em;
  min-width: 7.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
.content-home .home-store-list__item.active {
  background-color: #0FD186;
  font-weight: bold;
  border: 1px solid #0C945F;
}
.content-home .home-store-list__item.active a {
  color: #fff;
}
.content-home .home-store-images {
  display: none;
}
.content-home .home-store-images__list {
  margin-top: 4.2rem;
}
.content-home .home-store-images__list--item {
  margin-bottom: 1.5rem;
  position: relative;
}
.content-home .home-store-images__list .over-show {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.7rem;
  right: 0.9rem;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #3C576F 100%);
  animation: show 0.8s linear;
}
.content-home .home-store-images__list .over-show-title {
  font-size: 1.8rem;
  font-family: Roboto-Regular;
  color: #fff;
  text-align: center;
  position: relative;
  top: 60%;
}
.content-home .home-store-images__list .over-show-text {
  font-size: 1.6rem;
  font-family: Roboto-Regular;
  color: #fff;
  text-align: center;
  position: relative;
  top: 62%;
}
.content-home .home-store-images__list .over-show-btn {
  display: flex;
  justify-content: center;
  position: relative;
  top: 67%;
}
.content-home .home-store-images__list .over-show-btn__demo {
  font-size: 1.4rem;
  font-family: Roboto-Regular;
  color: #000;
  background-color: #FFB607;
  border-radius: 0.5rem;
  border: none;
  padding: 0.2rem 0.8rem;
}
.content-home .home-store-images__list .over-show-btn__detail {
  font-size: 1.4rem;
  font-family: Roboto-Regular;
  color: #fff;
  background-color: #43baff;
  border-radius: 0.5rem;
  border: none;
  padding: 0.2rem 0.8rem;
  margin-left: 1.8rem;
}
.content-home .home-store-images__list--item:hover .over-show {
  display: block;
  cursor: pointer;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content-home .home-store-images.active {
  display: block;
}
.content-home .home-store-btn {
  color: #fff;
  background-color: #43baff;
  border-radius: 1rem;
  font-size: 2rem;
  font-family: Inter;
  padding: 1rem 1.5rem;
  margin-top: 2.6rem;
  border: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.content-home .home-reason {
  height: 85rem;
  background-color: #F5F6F6;
}
.content-home .home-reason-heading {
  position: relative;
  font-size: 3.8rem;
  font-weight: bold;
  text-align: center;
  padding-top: 9.3rem;
  color: #43baff;
}
.content-home .home-reason-heading::after {
  content: "";
  position: absolute;
  top: 14rem;
  left: 50%;
  transform: translateX(-50%);
  width: 16.8rem;
  height: 0.3rem;
  background-color: #0FD186;
}
.content-home .home-reason-text {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 4.6rem;
  margin-bottom: 6.9rem;
  color: #848484;
}
.content-home .home-reason-outside__list {
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.content-home .home-reason-outside__list--item {
  background-color: #fff;
  width: 42.2rem;
  height: 24.7rem;
  margin-bottom: 2.5rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  padding: 0 0.2rem;
}
.content-home .home-reason-outside__list--item-inside {
  z-index: 1;
  position: relative;
  top: -2rem;
  background-color: #fff;
  height: 98%;
  border-radius: 1rem;
}
.content-home .home-reason-outside__list--item-inside--image {
  width: 6.5rem;
  height: 6.6rem;
  margin: 2.3rem auto 2.1rem;
}
.content-home .home-reason-outside__list--item-inside--heading {
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin-bottom: 1.3rem;
}
.content-home .home-reason-outside__list--item-inside--text {
  font-size: 1.4rem;
  text-align: center;
  color: #848484;
}
.content-home .home-reason-outside__list--item:hover:before {
  content: "";
  position: absolute;
  left: 25%;
  top: -66%;
  width: 30%;
  height: 240%;
  background: linear-gradient(#00ccff, #d400d4);
  animation: animate 4s linear infinite;
}
.content-home .home-reason-outside__list--item:hover {
  box-shadow: 15px 15px 38px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 15px 15px 38px 0 rgba(0, 0, 0, 0.2);
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html,
body {
  overflow-x: hidden;
  font-size: 1.6rem;
  line-height: 1em;
  color: #000;
  box-sizing: border-box;
}

html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: UTM-Avo;
  line-height: 2em;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

a:hover {
  color: #000;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.slick-next,
.slick-prev {
  display: none;
}

.header-active {
  color: #0FD186;
  font-weight: bold;
}

.banner {
  width: 100%;
  height: 50rem;
  overflow: hidden;
  margin: auto;
  position: relative;
}
.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  position: absolute;
  z-index: -3;
  top: 0;
  left: 0;
}

.content-about .mt-9 {
  margin-top: 9rem;
}
.content-about .pd-0 {
  padding-top: 0;
}
.content-about-title {
  height: 6.7rem;
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin-top: 9rem;
  margin-bottom: 9rem;
}
.content-about-title__line {
  background-color: #EC2028;
  width: 16.8rem;
  height: 0.3rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5rem;
}
.content-about-title__heading {
  color: #000;
  left: 0px;
  top: 0px;
  font-size: 3.8rem;
  font-weight: 700;
}
.content-about-title__text {
  margin-top: 5.5rem;
  display: block;
  font-style: italic;
  color: #EC2028;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.7rem;
}
.content-about-left__info {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #000;
}
.content-about-right {
  padding-top: 12rem;
}
.content-about-right__outside {
  width: 39.5rem;
  height: 9rem;
  margin: 0 0 8rem 12rem;
}
.content-about-right__outside--image {
  width: 9.8rem;
  height: 9rem;
  float: left;
}
.content-about-right__outside--text {
  float: left;
  margin: 1.5rem 0 0 3rem;
}
.content-about-right__outside--text-number {
  color: #43baff;
  font-size: 2.4rem;
  padding-bottom: 1rem;
}
.content-about-right__outside--text span {
  font-size: 2.4rem;
  color: #000;
}
.content-about-outside {
  width: 94.6rem;
  height: 71.5rem;
  margin: 7rem auto 0;
}
.content-about-outside-title {
  margin-bottom: 4rem;
  position: relative;
}
.content-about-outside-title__line {
  background-color: #EC2028;
  width: 15.8rem;
  height: 0.3rem;
  position: absolute;
  left: 51.5%;
  transform: translateX(-50%);
  top: 5rem;
}
.content-about-outside-title__heading {
  color: #000;
  left: 0px;
  top: 0px;
  font-size: 3.8rem;
  font-weight: 700;
  padding-left: 2.8rem;
  text-align: center;
}
.content-about-outside__info {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #000;
}

.content-contact-left__title {
  width: 13.9rem;
  height: 6.7rem;
  position: relative;
}
.content-contact-left__title--line {
  background-color: #EC2028;
  width: 8.8rem;
  height: 0.3rem;
  position: absolute;
  left: 1rem;
  top: 5rem;
}
.content-contact-left__title--heading {
  left: 0;
  top: 0;
  font-size: 3.8rem;
  font-weight: 700;
}
.content-contact .contact-form {
  margin-top: 5rem;
  height: 46rem;
  position: relative;
}
.content-contact .contact-form span {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #000;
  width: 20rem;
  float: left;
  margin-bottom: 3.2rem;
}
.content-contact .contact-form input {
  height: 3.4rem;
  width: 31.8rem;
  border-radius: 0.5rem;
  margin-bottom: 2.4rem;
  float: right;
  border: 1px solid #9F9F9F;
  margin-right: 6rem;
  padding: 0 1rem;
  font-size: 1.6rem;
  outline: none;
}
.content-contact .contact-form-content .form-textarea {
  height: 13.1rem;
  width: 31.8rem;
  border-radius: 0.5rem;
  margin-bottom: 2.4rem;
  float: right;
  border: 1px solid #9F9F9F;
  margin-right: 6rem;
  padding: 0 1rem;
  font-size: 1.6rem;
  outline: none;
}
.content-contact .contact-form-btn {
  width: 13.1rem;
  height: 4.6rem;
  background: #08659E;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.content-contact-right iframe {
  width: 55.5rem;
  height: 41.7rem;
}

.service-heading {
  line-height: 1.4em;
  top: 26% !important;
}

.content-service .mt-9 {
  margin-top: 9rem;
}
.content-service-outside {
  margin-top: 16.5rem;
}
.content-service-outside__info--heading {
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #3579A5;
}
.content-service-outside__info--text {
  font-size: 1.7rem;
  line-height: 2.3rem;
  color: #000;
}
.content-service-outside__info--list-item {
  font-size: 1.7rem;
  line-height: 2.3rem;
  color: #F26C2F;
}
.content-service-outside__info--btn {
  background: #43baff;
  border-radius: 10px;
  width: 189px;
  height: 32px;
}
.content-service-outside__info--btn-link {
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  display: block;
  text-align: center;
}

.header .banner {
  position: relative;
  width: 100%;
  height: 50rem;
  overflow: hidden;
  margin: auto;
}
.header .banner img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  position: absolute;
  z-index: -3;
  top: 0;
  left: 0;
}

.content-recruit-title {
  display: block;
  font-size: 2.4rem;
  line-height: 3.5rem;
  font-weight: 700;
  margin-top: 9.2rem;
  margin-left: 8.4rem;
  margin-bottom: 7.3rem;
}
.content-recruit-outside {
  position: relative;
  width: 114rem;
  height: 55rem;
  border: 1px solid #4D4D4D;
  border-radius: 2rem;
  padding: 4rem 7rem;
  margin: 0 auto 3rem;
}
.content-recruit-outside__top {
  padding: 0 0 2.1rem 0;
  border-bottom: 1px solid #818181;
  position: relative;
}
.content-recruit-outside__top--heading {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.5rem;
}
.content-recruit-outside__top span {
  color: #4D4D4D;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-top: 2.2rem;
  display: block;
  width: 70%;
}
.content-recruit-outside__top span img {
  width: 1.5rem;
  height: 2rem;
  float: left;
  margin-right: 1rem;
}
.content-recruit-outside__top--btn {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.3rem;
  border: none;
  margin-left: 6.6rem;
  color: #43baff;
  background: #fff;
  position: absolute;
  right: 20rem;
  bottom: 2rem;
}
.content-recruit-outside__info {
  width: 740px;
  margin-top: 25px;
}
.content-recruit-outside__info span {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4D4D4D;
}
.content-recruit-outside__info--list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4D4D4D;
  list-style-type: disc;
  margin-left: 28px;
}
.content-recruit-outside__btn {
  position: absolute;
  right: 3.3rem;
  bottom: 2.7rem;
  width: 20.7rem;
  height: 5.5rem;
  background: #43baff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.5rem;
  text-align: center;
  color: #fff;
}
.content-recruit-outside:last-child {
  margin-bottom: 10rem;
}

.content-webstore-heading {
  position: relative;
  font-size: 3.8rem;
  font-weight: bold;
  text-align: center;
  padding-top: 10.3rem;
}
.content-webstore-heading::after {
  content: "";
  position: absolute;
  top: 15rem;
  left: 50%;
  transform: translateX(-50%);
  width: 16.8rem;
  height: 0.3rem;
  background-color: #EC2028;
}
.content-webstore-text {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 4.6rem;
  color: #848484;
}
.content-webstore-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.content-webstore-list__item {
  margin-right: 4rem;
  margin-top: 2rem;
  border-radius: 2.5rem;
  border: 1px solid #9F9F9F;
}
.content-webstore-list__item--link {
  display: block;
  padding: 0 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  height: 3.1rem;
  line-height: 1.9em;
  min-width: 7.5rem;
  cursor: pointer;
  text-align: center;
}
.content-webstore-list__item.active {
  background-color: #3882B1;
  font-weight: bold;
}
.content-webstore-list__item.active a {
  color: #fff;
}
.content-webstore-outside {
  display: none;
}
.content-webstore-outside__list {
  margin-top: 8rem;
}
.content-webstore-outside__list--item {
  position: relative;
  margin-bottom: 2.5rem;
  padding: 0 1.5rem;
}
.content-webstore-outside__list .over-show {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1.4rem;
  right: 1.5rem;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #3C576F 100%);
  animation: show 0.8s linear;
}
.content-webstore-outside__list .over-show-title {
  font-size: 1.8rem;
  font-family: Roboto-Regular;
  color: #fff;
  text-align: center;
  position: relative;
  top: 60%;
}
.content-webstore-outside__list .over-show-text {
  font-size: 1.6rem;
  font-family: Roboto-Regular;
  color: #fff;
  text-align: center;
  position: relative;
  top: 62%;
}
.content-webstore-outside__list .over-show-btn {
  display: flex;
  justify-content: center;
  position: relative;
  top: 67%;
}
.content-webstore-outside__list .over-show-btn__demo {
  font-size: 1.4rem;
  font-family: Roboto-Regular;
  color: #000;
  background-color: #ffb607;
  border-radius: 0.5rem;
  border: none;
  padding: 0.2rem 0.8rem;
}
.content-webstore-outside__list .over-show-btn__detail {
  font-size: 1.4rem;
  font-family: Roboto-Regular;
  color: #fff;
  background-color: #43baff;
  border-radius: 0.5rem;
  border: none;
  padding: 0.2rem 0.8rem;
  margin-left: 1.8rem;
}
.content-webstore-outside__list--item:hover .over-show {
  display: block;
  cursor: pointer;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.content-webstore-outside.active {
  display: block;
}

.content-news .mb-0 {
  margin-bottom: 0;
}
.content-news-form {
  position: relative;
  right: 2.1rem;
  text-align: right;
  margin-bottom: 3.4rem;
}
.content-news-form__search {
  width: 29.3rem;
  height: 4.2rem;
  font-size: 1.6rem;
  background: #fafafa;
  border-radius: 3rem;
  border: 1px solid #797979;
  color: #616161;
  padding-left: 2.6rem;
}
.content-news-form__btn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  background: transparent;
  border: none;
}
.content-news-outside__item {
  position: relative;
  width: 27rem;
  height: 36rem;
  border: 1px solid #9F9F9F;
  border-radius: 1rem;
  margin: 0 auto 5.3rem;
}
.content-news-outside__item--image {
  border-radius: 10px 10px 0px 0px;
}
.content-news-outside__item--date {
  font-size: 1.4rem;
  font-family: Inter;
  background: rgba(66, 186, 255, 0.7411764706);
  position: absolute;
  bottom: 38%;
  left: 0;
  right: 0;
  height: 2.6rem;
  line-height: 2.6rem;
  text-align: right;
  padding-right: 1.4rem;
}
.content-news-outside__item--heading {
  font-size: 1.4rem;
  font-family: Inter;
  font-weight: bold;
  margin: 1rem;
}
.content-news-outside__item--text {
  font-size: 1.3rem;
  font-family: Inter;
  margin: 1rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.content-postdetail .pr-4 {
  padding-right: 4rem;
}
.content-postdetail .border-1 {
  border: 1px solid #A7A7A7;
}
.content-postdetail-body {
  font-size: 1.7rem;
  margin-bottom: 4.6rem;
}
.content-postdetail-body span {
  font-weight: bold;
}
.content-postdetail-body__heading {
  background: #3882B1;
  color: #fff;
  font-size: 1.8rem;
  height: 3.9rem;
  line-height: 3.9rem;
  text-align: center;
  border-radius: 1rem 1rem 0px 0px;
}
.content-postdetail-body__item {
  background: #EAEAEA;
  margin: 0;
  border-bottom: 1px solid #BCBCBC;
}
.content-postdetail-body__item--image {
  margin-top: 2.2rem;
  margin-left: 0.5rem;
  padding-bottom: 2.2rem;
}
.content-postdetail-body__item--title {
  font-size: 1.3rem;
  margin-top: 2.3rem;
}
.content-postdetail-body__item:last-child {
  border-bottom: none;
  border-radius: 0px 0px 1rem 1rem;
}
.content-postdetail-related {
  margin-top: 5.2rem;
}
.content-postdetail-related__heading {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 4.7rem;
}
.content-postdetail-related__item {
  position: relative;
  width: 25rem;
  height: 36rem;
  border: 1px solid #9f9f9f;
  border-radius: 1rem;
  margin: 0 auto;
}
.content-postdetail-related__item--image {
  border-radius: 10px 10px 0px 0px;
}
.content-postdetail-related__item--date {
  font-size: 1.4rem;
  font-family: Inter;
  background: rgba(66, 186, 255, 0.7411764706);
  position: absolute;
  bottom: 42.5%;
  left: 0;
  right: 0;
  height: 2.6rem;
  line-height: 2.6rem;
  text-align: right;
  padding-right: 1.4rem;
}
.content-postdetail-related__item--heading {
  font-size: 1.4rem;
  font-family: Inter;
  font-weight: bold;
  margin: 1rem;
}
.content-postdetail-related__item--text {
  font-size: 1.3rem;
  font-family: Inter;
  margin: 1rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.content-knowledge .border-1 {
  border: 1px solid #cecece;
  width: 26.6rem;
}
.content-knowledge .mb-0 {
  margin-bottom: 0;
}
.content-knowledge-outside__left--list-item {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
.content-knowledge-outside__left--list-item a {
  font-size: 1.8rem;
}
.content-knowledge-outside__left--list-item.active a {
  color: #0FD186;
  font-weight: bold;
}
.content-knowledge-outside__right--item {
  position: relative;
  width: 25rem;
  height: 36rem;
  border: 1px solid #9F9F9F;
  border-radius: 1rem;
  margin: 0 auto 5.3rem;
}
.content-knowledge-outside__right--item-image {
  border-radius: 10px 10px 0px 0px;
}
.content-knowledge-outside__right--item-date {
  font-size: 1.4rem;
  font-family: Inter;
  background: rgba(66, 186, 255, 0.7411764706);
  position: absolute;
  bottom: 42.5%;
  left: 0;
  right: 0;
  height: 2.6rem;
  line-height: 2.6rem;
  text-align: right;
  padding-right: 1.4rem;
}
.content-knowledge-outside__right--item-heading {
  font-size: 1.4rem;
  font-family: Inter;
  font-weight: bold;
  margin: 1rem;
}
.content-knowledge-outside__right--item-text {
  font-size: 1.3rem;
  font-family: Inter;
  margin: 1rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

@media (max-width: 480px) {
  .header-outside {
    position: relative;
    justify-content: space-between;
  }
  .header-outside-logo__image {
    float: left;
    margin-left: 1.2rem;
  }
  .header-outside-nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #383838;
    width: 34rem;
    min-height: 170rem;
    animation: shownav ease 0.6s;
    z-index: 1;
  }
  .header-outside-nav .mobile-logo {
    display: block;
    width: 21rem;
    height: 2.637rem;
    margin: 1.6rem 0 2.8rem 1.8rem;
  }
  .header-outside-nav__list {
    display: block;
  }
  .header-outside-nav__list--item {
    padding-left: 1.9rem;
    padding-bottom: 1rem;
    margin-right: 0;
    margin-top: 1rem;
    border-bottom: 1px solid #fff;
  }
  .header-outside-nav__list--item-link {
    color: #fff;
  }
  .header-outside-nav__list--item:last-child {
    border: none;
  }
  .header-outside-nav.show {
    display: none;
  }
  .header .navbar-mobile {
    display: block;
    font-size: 2.5rem;
    width: 8%;
    padding: 0;
    border: none;
    background: transparent;
    color: #000;
    margin-right: 1rem;
    z-index: 1;
  }
  .header .mobile-menu-overlay {
    position: absolute;
    height: 170rem;
    inset: 0;
    display: block;
    background: rgba(0, 0, 0, 0.5);
  }
  .header .mobile-menu-overlay.show {
    display: none;
  }
  @keyframes shownav {
    from {
      opacity: 0;
      transform: translateX(-65%);
    }
    to {
      opacity: 1;
      transform: 0;
    }
  }
  .home-sidebar-image {
    height: 100%;
  }
  .home-sidebar-control__prev {
    display: none;
  }
  .home-sidebar-control__next {
    display: none;
  }
}
@media (max-width: 480px) {
  .footer-outside {
    height: 100%;
    padding-bottom: 10rem;
  }
  .footer-outside-logo {
    margin: 0 auto 8.1rem;
  }
  .footer-outside-top {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
  }
  .footer-outside-top__location, .footer-outside-top__tel, .footer-outside-top__email {
    margin: 0 auto 3rem;
  }
  .footer-outside-bottom__info--heading {
    margin-left: 1.5rem;
    font-weight: bold;
  }
  .footer-outside-bottom__info--heading::after {
    width: 15rem;
  }
  .footer-outside-bottom__info--text {
    width: 93%;
    height: 100%;
    margin: 0 1.5rem;
  }
  .footer-outside-bottom__contact--heading {
    margin-left: 1.5rem;
    font-weight: bold;
  }
  .footer-outside-bottom__contact--heading::after {
    width: 7.8rem;
  }
  .footer-outside-bottom__contact--list {
    margin: 0 1.5rem;
  }
  .footer-outside-bottom__link--heading {
    margin-left: 1.5rem;
    font-weight: bold;
  }
  .footer-outside-bottom__link--heading::after {
    width: 9.7rem;
  }
  .footer-outside-bottom__link--social {
    display: flex;
    margin: 0 1.5rem;
  }
  .footer-outside-bottom__link--social-item {
    width: 4.3rem;
    height: 4.3rem;
  }
  .footer-outside-bottom__link--social-item--link svg {
    width: 2.3rem;
    height: 3.3rem;
  }
  .footer-outside-bottom__link--social-item:last-child {
    margin-right: 0;
  }
  .footer-outside-bottom__image {
    height: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .footer-outside-bottom__outside {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-outside-bottom__outside--left {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  .footer-outside-bottom__outside--right {
    font-size: 1.6rem;
  }
}
@media (max-width: 480px) {
  .content-home .slick-dots {
    top: -2rem;
  }
  .content-home .pc-slider {
    display: none;
  }
  .content-home .mobile-slider {
    display: block;
  }
  .content-home .home-service-outside {
    width: 100%;
    height: 100%;
    margin: 6.1rem auto 2rem;
  }
  .content-home .home-service-outside__heading {
    font-size: 3.8rem;
  }
  .content-home .home-service-outside__heading::after {
    width: 15rem;
    height: 0.3rem;
    left: 15.8rem;
    top: 4rem;
  }
  .content-home .home-service-outside__text {
    margin-top: 5.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .content-home .home-service-list__image {
    width: 47.7rem;
    height: 49.4rem;
    top: -16rem;
    z-index: -1;
  }
  .content-home .home-service-list__item {
    height: 24rem;
    z-index: 1;
  }
  .content-home .home-service-list__item--number {
    font-size: 7rem;
    position: relative;
    top: 4rem;
    left: 3rem;
  }
  .content-home .home-service-list__item--heading {
    font-size: 1.8rem;
    position: relative;
    top: 5rem;
    left: 3rem;
  }
  .content-home .home-service-list__item--text {
    width: 90%;
    height: 6.8rem;
    position: relative;
    top: 5rem;
    left: 3rem;
  }
  .content-home .home-service-list__item--image {
    width: 11.6rem;
    height: 10.9rem;
    top: 5.8rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .content-home .home-store {
    background-color: #fff;
    height: 161rem;
  }
  .content-home .home-store .hidden {
    display: none;
  }
  .content-home .home-store-heading {
    font-size: 3rem;
    padding-top: 12rem;
  }
  .content-home .home-store-heading::after {
    top: 16rem;
    width: 15rem;
  }
  .content-home .home-store-text {
    font-size: 1.5rem;
    width: 80%;
    margin: 4.6rem auto 0;
  }
  .content-home .home-store-list {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 3.8rem;
  }
  .content-home .home-store-list__item {
    margin-bottom: 1.3rem;
  }
  .content-home .home-store-list__item--link {
    font-size: 1.4rem;
    line-height: 2.2em;
  }
  .content-home .home-store-images {
    display: none;
  }
  .content-home .home-store-images__list {
    margin-top: 4.2rem;
    padding: 0 1.5rem;
  }
  .content-home .home-reason {
    height: 54.5rem;
  }
  .content-home .home-reason .slick-dots {
    top: 1rem;
  }
  .content-home .home-reason-heading {
    font-size: 3rem;
    padding-top: 7rem;
    width: 80%;
    margin: 0 auto;
    line-height: 1.3em;
  }
  .content-home .home-reason-heading::after {
    top: 16rem;
    width: 16.8rem;
    height: 0.3rem;
    background-color: #EC2028;
  }
  .content-home .home-reason-text {
    font-size: 1.5rem;
    width: 80%;
    margin: 4rem auto 5rem;
  }
  .content-home .home-reason-outside__list {
    justify-content: center;
  }
  .content-home .home-reason-outside__list--item {
    height: 21.7rem;
    margin: 0 1.5rem;
  }
  .content-home .home-reason-outside__list--item-inside {
    top: -4rem;
    height: 97.5%;
    border-radius: 1rem;
  }
  .content-home .home-reason-outside__list--item-inside--image {
    margin: 4.3rem auto 2.1rem;
    padding-top: 2rem;
  }
  .content-home .home-reason-outside__list--item-inside--heading {
    font-size: 1.7rem;
    margin-top: 3rem;
  }
  .content-home .home-reason-outside__list--item-inside--text {
    font-size: 1.3rem;
    width: 90%;
    margin: 0 auto;
  }
  .content-home .home-reason-outside__list--item:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
}
.price-list {
  height: 80.6rem;
}
.price-list-heading {
  position: relative;
  font-size: 3.8rem;
  font-weight: bold;
  color: #0FD186;
  text-align: center;
  margin-top: 14.5rem;
}
.price-list-heading span {
  color: #43baff;
  margin-left: 2rem;
}
.price-list-heading span:before {
  content: "-";
  position: absolute;
  left: 51.9%;
}
.price-list-heading::after {
  content: "";
  position: absolute;
  top: 4.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 16.8rem;
  height: 0.3rem;
  background-color: #EC2028;
}
.price-list-text {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 4.6rem;
}
.price-list-outside__inside {
  width: 30.6rem;
  height: 59.3rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2509803922);
  background-color: #fff;
  left: 0px;
  top: 0px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-top: 9rem;
  transition: transform linear 0.1s;
}
.price-list-outside__inside--title {
  text-align: center;
  letter-spacing: 0;
  color: #F26C2F;
  font-size: 3.8rem;
  font-weight: bold;
  padding-top: 4rem;
  padding-bottom: 1rem;
  position: relative;
}
.price-list-outside__inside--title span {
  font-size: 1.6rem;
}
.price-list-outside__inside .home-color-seo {
  color: #25B37C;
}
.price-list-outside__inside .home-background-seo {
  background-color: #25B37C;
}
.price-list-outside__inside .home-color-support {
  background-color: #D74848;
  color: #fff;
  z-index: 0;
  padding-bottom: 2.3rem;
  padding-top: 0;
}
.price-list-outside__inside .home-color-support span {
  line-height: 1.4em;
  display: block;
  margin-top: 1.2rem;
}
.price-list-outside__inside .home-color-support .price-list-image {
  position: absolute;
  left: -0.1rem;
  bottom: -0.1rem;
  width: 30.7rem;
  height: 15rem;
  z-index: -1;
}
.price-list-outside__inside .home-color-support .price-list-image img {
  height: 100%;
}
.price-list-outside__inside .home-background-support {
  background-color: #C02C2C;
}
.price-list-outside__inside--type {
  height: 4.8rem;
  line-height: 4.8rem;
  text-align: center;
  background-color: #F26C2F;
}
.price-list-outside__inside--type-text {
  color: #fff;
  font-family: Inter;
  font-size: 1.5rem;
}
.price-list-outside__inside--list-item {
  color: #333;
  font-family: Inter;
  font-size: 1.5rem;
  position: relative;
  margin-left: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 0.8rem;
  border: 1px solid #fff;
  background-image: linear-gradient(#d9d9d9, #d9d9d9), linear-gradient(#d9d9d9, #d9d9d9);
  background-repeat: no-repeat;
  background-size: 0 0, 91% 1px, 0 0, 0 0, calc(100% - 8px) calc(100% - 8px);
  background-position: left bottom, left bottom, 1px 1px;
}
.price-list-outside__inside--list-item::before {
  content: "";
  position: absolute;
  left: -1.2rem;
  top: 0.5rem;
  width: 0.69rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #d9d9d9;
}
.price-list-outside__inside--list-item:first-child {
  margin-top: 2.8rem;
}
.price-list-outside__inside--list-item:last-child {
  margin-bottom: 1.8rem;
  background: transparent;
}
.price-list-outside__inside--btn {
  color: #fff;
  width: 7.5rem;
  height: 3.7rem;
  font-size: 1.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2509803922);
  background-color: #F26C2F;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 0.4rem;
}
.price-list-outside__inside:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2509803922);
}

.home-projects {
  height: 136.4rem;
}
.home-projects .mobile-slider-top,
.home-projects .mobile-slider-between,
.home-projects .mobile-slider-bottom {
  display: none;
}
.home-projects-heading {
  position: relative;
  font-size: 3.8rem;
  font-weight: bold;
  text-align: center;
  padding-top: 9.3rem;
}
.home-projects-heading::after {
  content: "";
  position: absolute;
  top: 14rem;
  left: 50%;
  transform: translateX(-50%);
  width: 16.8rem;
  height: 0.3rem;
  background-color: #EC2028;
}
.home-projects-top__inside, .home-projects-between__inside, .home-projects-bottom__inside {
  height: 37rem;
  color: #fff;
  position: relative;
  left: 1rem;
}
.home-projects-top__inside--image, .home-projects-between__inside--image, .home-projects-bottom__inside--image {
  position: absolute;
  width: 58rem;
  height: 100%;
}
.home-projects-top__inside--image img, .home-projects-between__inside--image img, .home-projects-bottom__inside--image img {
  height: 100%;
}
.home-projects-top__inside--heading, .home-projects-between__inside--heading, .home-projects-bottom__inside--heading {
  font-size: 1.8rem;
  position: relative;
  margin-top: 4rem;
  margin-left: 4rem;
}
.home-projects-top__inside--text, .home-projects-between__inside--text, .home-projects-bottom__inside--text {
  font-size: 1.6rem;
  position: relative;
  margin: 1.5rem 39% 2rem 4rem;
  height: 8rem;
}
.home-projects-top__inside--btn, .home-projects-between__inside--btn, .home-projects-bottom__inside--btn {
  position: relative;
  font-size: 1.6rem;
  color: #fff;
  background-color: #F0A21A;
  padding: 0.8rem 3rem;
  border-radius: 0.5rem;
  margin-left: 4rem;
  border: none;
}
.home-projects-top {
  top: 7rem;
}
.home-projects-between {
  top: 9rem;
}
.home-projects-bottom {
  top: 11rem;
}

.consulting-team .mobile-team {
  display: none;
}
.consulting-team-heading {
  position: relative;
  font-size: 3.8rem;
  font-weight: bold;
  text-align: center;
  padding-top: 9.3rem;
  color: #43baff;
}
.consulting-team-heading::after {
  content: "";
  position: absolute;
  top: 14rem;
  left: 50%;
  transform: translateX(-50%);
  width: 16.8rem;
  height: 0.3rem;
  background-color: #EC2028;
}
.consulting-team-text {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 4.6rem;
  margin-bottom: 6.2rem;
  color: #848484;
}
.consulting-team-outside__list {
  height: 30rem;
  margin-bottom: 8rem;
  overflow: hidden;
}
.consulting-team-outside__list--item {
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
  border-radius: 10px;
  margin: 0 2rem;
  display: inline-block;
}
.consulting-team-outside__list--item .consulting-team-border {
  border-top: 5px solid #EC2028;
}
.consulting-team-outside__list--item-heading {
  font-size: 1.8rem;
  font-family: Inter;
  font-weight: 600;
  color: #000;
  text-align: center;
  margin-top: 2.3rem;
  margin-bottom: 1rem;
}
.consulting-team-outside__list--item span {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: Inter;
  color: #EC2028;
  text-align: center;
  display: block;
  padding-bottom: 2.1rem;
}

.general-slider {
  margin-top: 6.4rem;
  margin-bottom: 10.4rem;
  position: relative;
}
.general-slider-image {
  width: 100%;
}
.general-slider-heading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
  min-width: 109.1rem;
}

.content-pagination {
  justify-content: center;
  margin-top: 5rem;
}
.content-pagination-item {
  margin: 0 1.6rem;
  width: 2.5rem;
  height: 2.6rem;
  text-align: center;
}
.content-pagination-item__link {
  font-size: 2rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
}
.content-pagination-item.active {
  border-radius: 50%;
  border: 1px solid #43baff;
}
.content-pagination-prev, .content-pagination-next {
  font-size: 2rem;
  border: none;
  background: transparent;
}

.recruit-btn {
  position: fixed;
  right: 2.5rem;
  bottom: 16.8rem;
  width: 9.6rem;
  height: 9.6rem;
  border: none;
  border-radius: 50%;
  background: #3BA5E3;
  box-shadow: -0.2rem 0.3rem 1.2rem 0.2rem rgba(0, 0, 0, 0.25);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.6rem;
  font-weight: 700;
}
.recruit-btn a {
  color: #fff;
}

.call-btn {
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0px;
  background: #fff;
  background-color: transparent;
  cursor: pointer;
  font-size: 0;
  width: 11rem;
  height: 11rem;
  z-index: 5;
}
.call-btn-zoomIn {
  width: 8rem;
  height: 8rem;
  border: 2px solid #0FD186;
  border-radius: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4rem;
  margin-left: -4rem;
  animation-name: zoomIn;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
.call-btn-tada {
  background: #0FD186;
  border-radius: 10rem;
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -2rem;
  margin-left: -2rem;
  animation-name: tada;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.call-btn-tada a:before {
  font-family: FontAwesome;
  content: "\f095";
  font-size: 2.5rem;
  text-decoration: none;
  color: #fff;
  margin-left: 1rem;
  position: absolute;
  top: 50%;
  margin-top: -1rem;
}
.call-btn-pulse {
  width: 6rem;
  height: 6rem;
  background: #0FD186;
  border-radius: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -3rem;
  margin-left: -3rem;
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes tada {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(20deg);
  }
}
@keyframes pulse {
  from {
    width: 5.5rem;
    height: 5.5rem;
    margin-top: -2.75rem;
    margin-left: -2.75rem;
  }
  to {
    width: 6rem;
    height: 6rem;
    margin-top: -3rem;
    margin-left: -3rem;
  }
}
@keyframes zoomIn {
  from {
    width: 4rem;
    height: 4rem;
    margin-top: -2rem;
    margin-left: -2rem;
  }
  to {
    width: 8rem;
    height: 8rem;
    margin-top: -4rem;
    margin-left: -4rem;
  }
}
.request-btn {
  position: fixed;
  right: 2.5rem;
  bottom: 0;
  width: 26.9rem;
  height: 4.7rem;
  background: #3BA5E3;
  border-radius: 1rem 1rem 0 0;
  color: #fff;
  font-size: 1.7rem;
  border: none;
  z-index: 5;
}

.modal-request {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 6;
}
.modal-request .pd-0 {
  padding: 0;
}
.modal-request .form-contact {
  padding: 0;
  margin-left: 0.1rem;
}
.modal-request-container {
  width: 60.7rem;
  min-height: 20rem;
  border-radius: 2rem;
  background: #fff;
  margin: 0 auto;
  position: relative;
  animation: modalFaceIn ease 0.6s;
}
.modal-request-container__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5rem;
  cursor: pointer;
}
.modal-request-container__logo {
  width: 21rem;
  height: 2.637rem;
  margin: 0 auto 5.3rem;
  padding-top: 5.5rem;
}
.modal-request-container__contact {
  padding: 0 6rem 5.8rem;
  color: #565656;
}
.modal-request-container__contact--number {
  margin-left: 0.6rem;
}
.modal-request-container__contact--select {
  max-width: 25rem;
  padding-right: 0;
}
.modal-request-container__contact .form-control {
  font-size: 1.8rem;
  padding-left: 1.2rem;
  outline: none;
  border: 1px solid #424242;
  border-radius: 1rem;
  margin-bottom: 2.8rem;
}
.modal-request-container__contact--content {
  font-size: 1.8rem;
  outline: none;
}
.modal-request-container__contact--content textarea {
  width: 100%;
  height: 13.1rem;
  border: 1px solid #424242;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
}
.modal-request-container__contact--btn {
  background: #08659E;
  color: #fff;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0.9rem 2.3rem 1.1rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2.4rem;
  border: none;
}
.modal-request.visible {
  display: flex;
}

@keyframes modalFaceIn {
  from {
    opacity: 0;
    transform: translateY(-14rem);
  }
  to {
    opacity: 1;
    transform: 0;
  }
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 7rem;
  right: 3rem;
  width: 4rem;
  height: 4rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
  z-index: 1;
}

@media (max-width: 480px) {
  .slick-dots {
    display: flex !important;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: relative;
  }
  .slick-dots li {
    margin: 0 0.5rem;
  }
  .slick-dots button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #d9d9d9;
    text-indent: -9999px;
  }
  .slick-dots li.slick-active button {
    background-color: #000;
  }
  .price-list {
    height: 86.6rem;
  }
  .price-list .slick-dots {
    top: 0;
  }
  .price-list-heading {
    font-size: 2.8rem;
    width: 70%;
    margin: 5.7rem auto 0;
  }
  .price-list-heading span {
    display: block;
    margin-top: 1.8rem;
    margin-left: 0;
  }
  .price-list-heading span:before {
    display: none;
  }
  .price-list-heading::after {
    top: 7.5rem;
    width: 7.8rem;
  }
  .price-list-text {
    font-size: 1.4rem;
    width: 83%;
    margin: 3.6rem auto 0;
  }
  .price-list-outside__inside {
    width: 80%;
    height: 58.3rem;
    margin: 10rem auto 2rem;
    transition: transform;
  }
  .price-list-outside__inside--title {
    font-size: 5rem;
  }
  .price-list-outside__inside--title span {
    font-size: 1.8rem;
  }
  .price-list-outside__inside .home-color-support {
    padding-bottom: 5.3rem;
    padding-top: 0;
  }
  .price-list-outside__inside .home-color-support span {
    line-height: 1.4em;
    margin-top: 2rem;
  }
  .price-list-outside__inside .home-color-support .price-list-image {
    left: -0.16rem;
    width: 37.4rem;
    height: 20rem;
  }
  .price-list-outside__inside .home-background-support {
    background-color: #C02C2C;
  }
  .price-list-outside__inside--type {
    height: 4.8rem;
    line-height: 4.8rem;
    text-align: center;
    background-color: #F26C2F;
  }
  .price-list-outside__inside--type-text {
    color: #fff;
    font-family: Inter;
    font-size: 1.5rem;
  }
  .price-list-outside__inside--list-item {
    font-size: 1.6rem;
  }
  .price-list-outside__inside:hover {
    transform: translateY(0);
  }
  .home-projects {
    height: 136.4rem;
    margin: 0 1.5rem;
  }
  .home-projects .pc-slider-top,
.home-projects .pc-slider-between,
.home-projects .pc-slider-bottom {
    display: none;
  }
  .home-projects .mobile-slider-top,
.home-projects .mobile-slider-between,
.home-projects .mobile-slider-bottom {
    display: block;
  }
  .home-projects-heading {
    font-size: 3rem;
    padding-top: 9.3rem;
  }
  .home-projects-heading::after {
    width: 14rem;
  }
  .home-projects-top__inside, .home-projects-between__inside, .home-projects-bottom__inside {
    height: 37rem;
    left: 0;
  }
  .home-projects-top__inside--heading, .home-projects-between__inside--heading, .home-projects-bottom__inside--heading {
    font-size: 1.8rem;
    position: relative;
    margin-top: 4rem;
    margin-left: 4rem;
  }
  .home-projects-top__inside--text, .home-projects-between__inside--text, .home-projects-bottom__inside--text {
    font-size: 1.4rem;
    margin: 1.5rem 35% 2rem 4rem;
    height: 9rem;
  }
  .home-projects-top__inside--btn, .home-projects-between__inside--btn, .home-projects-bottom__inside--btn {
    font-size: 1.6rem;
    padding: 0.8rem 3rem 0.9rem;
  }
  .home-projects-top {
    top: 7rem;
  }
  .home-projects-between {
    top: 9rem;
  }
  .home-projects-bottom {
    top: 11rem;
  }
  .consulting-team .pc-slider-team {
    display: none;
  }
  .consulting-team .mobile-team {
    display: flex;
  }
  .consulting-team-heading {
    font-size: 3rem;
  }
  .consulting-team-heading::after {
    width: 14rem;
  }
  .consulting-team-text {
    font-size: 1.4rem;
    width: 80%;
    margin: 4.6rem auto 5.2rem;
  }
  .consulting-team-outside__list {
    height: 100%;
    width: 96%;
    margin: 0 auto 8rem;
  }
  .consulting-team-outside__list--item {
    width: 45.5%;
    margin: 0 1rem 2.5rem;
    padding: 0;
  }
  .consulting-team-outside__list--item-heading {
    font-size: 1.8rem;
    font-family: Inter;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin-top: 2.3rem;
    margin-bottom: 1rem;
  }
  .consulting-team-outside__list--item span {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: Inter;
    color: #EC2028;
    text-align: center;
    display: block;
    padding-bottom: 2.1rem;
  }
  .recruit-btn {
    left: 2rem;
    bottom: 16.8rem;
    width: 6.6rem;
    height: 6.6rem;
    font-size: 1.3rem;
    z-index: 1;
  }
  .recruit-btn a {
    color: #fff;
  }
  .call-btn {
    width: 5.1rem;
    height: 5.1rem;
    left: 2.5rem;
    bottom: 2.5rem;
  }
  .call-btn-zoomIn {
    width: 2rem;
    height: 2rem;
    top: 61%;
    left: 63%;
  }
  .call-btn-tada {
    width: 3rem;
    height: 3rem;
    left: 59%;
    top: 62%;
  }
  .call-btn-tada a:before {
    font-size: 1.5rem;
  }
  .call-btn-pulse {
    width: 1.5rem;
    height: 1.5rem;
  }
  @keyframes pulse {
    from {
      width: 4.5rem;
      height: 4.5rem;
      margin-top: -2rem;
      margin-left: -2rem;
    }
    to {
      width: 5rem;
      height: 5rem;
      margin-top: -2.5rem;
      margin-left: -2.5rem;
    }
  }
  @keyframes zoomIn {
    from {
      width: 3rem;
      height: 3rem;
      margin-top: -2rem;
      margin-left: -2rem;
    }
    to {
      width: 7rem;
      height: 7rem;
      margin-top: -4rem;
      margin-left: -4rem;
    }
  }
  .request-btn {
    right: 2.5rem;
    bottom: 0;
    width: 18.9rem;
    height: 3.7rem;
    font-size: 1.6rem;
  }
  .modal-request-container {
    width: 43.7rem;
    min-height: 20rem;
  }
  .modal-request-container__contact {
    padding: 0 2rem 2.8rem;
  }
  .modal-request-container__contact .form-control {
    font-size: 1.6rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1.8rem;
  }
  .modal-request-container__contact--content {
    font-size: 1.6rem;
  }
  .modal-request-container__contact--content textarea {
    height: 12.1rem;
  }
  .modal-request-container__contact--btn {
    font-size: 1.6rem;
    padding: 0.8rem 2rem 1rem;
  }
  #myBtn {
    bottom: 7rem;
    right: 3rem;
    width: 3rem;
    height: 3rem;
    z-index: 3;
  }
  .ws-contact {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px 30px 10px 0;
    z-index: 9999;
  }
  .ws-contact .recruit-btn {
    right: 2rem;
    bottom: 16.8rem;
    width: 6.6rem;
    height: 6.6rem;
    font-size: 1.3rem;
    z-index: 1;
  }
  .ws-contact .recruit-btn a {
    color: #fff;
  }
  .ws-contact-icon {
    display: block;
    margin: 10px 0;
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 70px;
    text-align: center;
    background: #6BB31E;
    border-radius: 50%;
    transition: 0.2s;
  }
  .ws-contact-icon:not(:last-child) {
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
  }
  .ws-contact-icon:not(:last-child).is-active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .ws-contact-icon::before {
    content: "";
    background: url("https://www.upsieutoc.com/images/2018/12/29/ZFUFPff.png") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    display: inline-block;
    transition: 0.3s;
  }
  .ws-contact-icon::after {
    content: attr(tooltip);
    background: #fff;
    color: #000;
    border-radius: 50px;
    padding: 10px;
    position: absolute;
    right: 100%;
    line-height: 1;
    min-width: 150px;
    display: inline-block;
    top: 8px;
    margin-right: 10px;
    font-size: 15px;
    transition: 0.2s;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
  .ws-contact-icon.is-active::before {
    background: url("https://www.upsieutoc.com/images/2018/12/29/0vsz83V.png") no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
  }
  .ws-contact-icon.mail {
    background: #691FF0;
    transition-delay: 200ms;
  }
  .ws-contact-icon.mail::before {
    background: url("https://www.upsieutoc.com/images/2018/12/29/K34s4SN.png") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
  }
  .ws-contact-icon.facebook {
    background: #231FF0;
    transition-delay: 150ms;
  }
  .ws-contact-icon.facebook::before {
    background: url("https://www.upsieutoc.com/images/2018/12/29/0FgYLEn.png") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
  }
  .ws-contact-icon.message {
    background: #1F7AF0;
    transition-delay: 100ms;
  }
  .ws-contact-icon.message::before {
    background: url("https://www.upsieutoc.com/images/2018/12/29/I6NY3Mi.png") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
  }
  .ws-contact-icon.zalo {
    background: #F1F1F1;
    transition-delay: 50ms;
  }
  .ws-contact-icon.zalo::before {
    background: url("https://www.upsieutoc.com/images/2018/12/29/Ph1kn8Y.png") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
  }
  .ws-contact-icon:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .ws-contact-icon:hover::after {
    opacity: 1;
    visibility: visible;
  }
}/*# sourceMappingURL=main.css.map */